<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>MatchemPoker</string>
    <key>CFBundleDisplayName</key>
    <string>MatchemPoker</string>
    <key>CFBundleIdentifier</key>
    <string>com.btty.MatchemPoker</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleExecutable</key>
    <string>MatchemPoker</string>
    <key>CFBundleIconFile</key>
    <string>MatchemPoker.icns</string>
    <key>NSHighResolutionCapable</key>
    <true/>
</dict>
</plist>
