<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="monogamesamplesinput.monogamesamplesinput">
	<application android:label="MonoGame.Samples.Input" android:debuggable="true" android:icon="@drawable/icon"></application>
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.SET_ORIENTATION" />
</manifest>